@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
$font-family: "Manrope";

.v-application {
  [class*="text-"] {
    color: #4A0A52;
    font-family: $font-family, sans-serif !important;
  }
  font-family: $font-family, sans-serif !important;
  $rounded: (
  'sm': 4px,
  'lg': 9999px
  );
  $purple: (
    'purple' : '#4A0A52'
  );
  $purple--text: (
    'purple--text' : '#4A0A52'
  );
  $black: (
    'black' : '#16061C'
  );
  $grey: (
    'grey': '#727272'
  )
}